.titleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: var(--grayDark);
    }

    span {
        font-weight: 300;
        font-size: 36px;
        line-height: 64px;

        color: var(--graySecond);

        &:hover {
            text-decoration: underline;
            cursor: pointer;

            transition: .3s;
        }
    }
}
