#signInPage {
    padding: 5%;
    
    background-color: var(--bgWeb);
    
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loginPage {
    display: flex;

    width: 100%;

    @media only screen and (max-width: 1024px) {
        height: auto;

        flex-direction: column;

        padding: 10% 5%;
    }

    #loginContent {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @media only screen and (max-width: 1024px) {
            width: 100%;

            padding: 5% 10%;

            align-items: center;
        }

        #logo {
            width: 55%;

            margin-left: 20px;

            @media only screen and (max-width: 1024px) {
                width: 45%;

                margin: 0;
            }
        }

        .root {
            display: flex;
            flex-direction: column;
            gap: 10px;

            div {
                display: flex;
                align-items: center;
                gap: 5px;

                p {
                    color: var(--grayDark);

                    font-weight: 600;
                    font-size: 30px;
                    line-height: 32px;
                }
            }

            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }
    }

    #form {
        width: 50%;
        padding: 5% 25px;

        background-color: var(--white);

        border-radius: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media only screen and (max-width: 1024px) {
            width: 100%;
        }

        form {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 30px;

            text-align: center;

            border-bottom: 1px solid #000;

            padding-bottom: 40px;

            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            h1 {
                font-weight: 600;
                font-size: 37px;
                line-height: 32px;
            }

            #input, #email {
                position: relative;

                svg {
                    position: absolute;
                    top: 50%;
                    right: 15px;

                    font-size: 24px;

                    transform: translateY(-50%);

                    color: #000;
                }

                p {
                    position: absolute;
                    left: 10px;
                    color: red;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: normal;

                    @media only screen and (max-width: 430px) {
                        font-size: 8px;
                        text-align: start;
                    }
                }
            }

            input {
                width: 100%;

                border: none;
                border-radius: 5px;

                padding: 10px 15px;

                outline: none;

                font-style: 24px;

                div {
                    width: 100%;
                }
            }

            #forgot {
                width: 100%;
                text-align: end;

                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 32px;
                }
            }
        }

        #signIn {
            padding-top: 30px;

            a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
            }
        }
    }
}
