.root {
    width: 60%;
    padding: 25px 5%;

    transform: translateY(-50%);

    background-color: var(--white);
    box-shadow: 6px 6px 10px 6px #f0f0f0;

    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 20px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}