.button {
    background-color: var(--colorTheme);
    color: var(--yellowDark);

    border: none;
    border-radius: 5px;

    padding: 22px 24px;

    font-weight: 700;
    font-size: 16px;

    cursor: pointer;
    transition: 0.1s;

    @media only screen and (max-width: 430px) {
        width: 100%;
        
        padding: 5px;
    }

    &:hover {
        background-color: var(--yellowLight);
    }

    &:active {
        transform: scale(.9);
    }

    &:focus {
        color: var(--yellowDark);
        background-color: var(--yellowLight);
    }
}
