:root {
    --colorTheme: #ffe145;
    --yellowDark: #b79c10;
    --yellowLight: #fff7cc;
    --grayDark: #3f4255;
    --graySecond: #9093a6;
    --grayBg: #f2f4fa;
    --grayLight: #d4d7e5;
    --white: #fff;
    --black: #000;
    --bgWeb: #f5f5f5;
    --heartColor: #ff0000;
    --greenColor: #43a12b;

    --fontFamily: "Martel Sans", sans-serif;
    --fontFamily2: 'Poppins', sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 58px;
    line-height: 64px;

    color: var(--grayDark);

    font-family: var(--fontFamily2);

    @media only screen and (max-width: 768px) {
        font-size: 40px;
    }
}

h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;

    margin: 0;

    font-family: var(--fontFamily2);

    @media only screen and (max-width: 430px) {
        font-size: 30px;
    }
}

h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--grayDark);

    font-family: var(--fontFamily2)
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: var(--grayDark);

    @media only screen and (max-width: 430px) {
        font-size: 15px;
    }
}
