.nav {
    border-radius: 50%;

    width: 30px;
    height: 30px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
}
