.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 20px 35px;

    box-shadow: 0px 2px 16px rgba(60, 62, 74, 0.08);
    border-radius: 6px;

    transition: .3s;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}
