#productItem {
    border-radius: 5px;
    overflow: hidden;

    position: relative;

    &:hover {
        #buy {
            transform: translateX(0);
        }
    }

    #image {
        overflow: hidden;
        border-radius: 6px 6px 0 0;

        img {
            width: 100%;
            display: block;

            transition: 0.3s;

            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    #infoProduct {
        padding: 5% 8%;

        background-color: var(--bgWeb);

        border-radius: 0 0 6px 6px;

        display: flex;
        justify-content: space-between;

        h3 {
            margin: 0;
        }

        h3,
        p {
            @media only screen and (max-width: 430px) {
                font-size: 12px;
            }
        }

        svg {
            margin-top: 8px;

            width: 20px;
            height: 20px;

            transition: 0.2s;
        }
    }

    #buy {
        position: absolute;
        top: 10px;
        left: 10px;
        transform: translateX(-150%);

        background-color: rgba(0, 0, 0, 0.5);
        color: var(--white);

        width: 50px;
        height: 50px;

        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.4s;

        svg {
            font-size: 24px;

            color: var(--white);
        }

        @media only screen and (max-width: 768px) {
            width: 40px;
            height: 40px;
        }

        @media only screen and (max-width: 430px) {
            width: 30px;
            height: 30px;

            svg {
                font-size: 18px;
            }
        }
    }
}
