#profileItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    p {
        &:nth-child(1) {
            width: 25%;

            color: var(--grayLight);
            text-align: end;

            @media only screen and (max-width: 430px) {
                width: 30%;
                text-align: start;
            }
        }

        &:nth-child(2) {
            width: 75%;

            text-align: start;
            
            @media only screen and (max-width: 430px) {
                width: 70%;
            }
        }

        span {
            cursor: pointer;

            font-size: 12px;
            color: var(--heartColor);
            text-decoration: underline;
        }
    }
}
