.root {
    display: flex;

    position: relative;

    padding: 0 5%;

    overflow: hidden;

    @media only screen and (max-width: 1024px) {
        flex-direction: column;
    }

    .content {
        width: 50%;

        transform: translateY(70px);

        @media only screen and (max-width: 1024px) {
            width: 100%;
            transform: translateY(0);

            text-align: center;
        }

        .ship {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            gap: 20px;

            width: 50%;

            @media only screen and (max-width: 1024px) {
                width: 100%;
                padding: 0 2%;
            }

            .shipper {
                padding: 18px 10px;

                text-align: center;

                border-radius: 5px;
                border: 2px solid var(--colorTheme);

                cursor: pointer;

                transition: 0.3s;

                @media only screen and (max-width: 430px) {
                    padding: 6px 10px;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                }

                h4 {
                    margin: 0;
                }

                &:hover {
                    transform: scale(1.2);

                    background-color: var(--colorTheme);
                }
            }
        }
    }

    .image {
        width: 50%;

        position: relative;

        @media only screen and (max-width: 1024px) {
            width: 100%;

            padding: 5% 0;

            display: flex;
            justify-content: center;
        }

        @media only screen and (max-width: 430px) {
            display: none;   
        }

        #product {
            width: 100%;

            animation: rotate 30s infinite forwards;

            @media only screen and (max-width: 1024px) {
                width: 50%;
            }

            @keyframes rotate {
                to {
                    transform: rotate(0);
                }

                from {
                    transform: rotate(-360deg);
                }

                // 0% {
                //     transform: translateX(0) rotate(0);
                // }

                // 45% {
                //     transform: translateX(-220%) rotate(-180deg);
                // }

                // 46% {
                //     visibility: collapse;
                // }

                // 75% {
                //     visibility: collapse;
                //     transform: translateX(120%) rotate(-180deg);
                // }

                // 100% {
                //     visibility: initial;
                //     transform: translateX(0) rotate(-380deg);
                // }
            }
        }

        img {
            &:nth-child(2) {
                position: absolute;
                left: 0;
                transform: translateX(-72%);
                bottom: 15%;

                @media only screen and (max-width: 1024px) {
                    transform: translateX(55%);

                    bottom: 0;
                }
            }
        }

        #arrow {
            position: absolute;
            bottom: 0;
            right: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @media only screen and (max-width: 1024px) {
                right: 16%;
            }

            p {
                letter-spacing: 0.5px;
            }
        }
    }
}
